@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap');

:root {
  --font-logo: 'Amita';
}
/* forçar ocupação de toda a vh para que o rodapé fique sempre no fim */
body{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}
.ocupacao{
  flex: 1;
  /* colocando esta classe na main faz com
  que ela ocupe todo o restante da vh disponível */
}
/* fim da ocupação da vh */

@keyframes fundos {
  0% {
    background: url("imagens/Firefly_23141.jpg")center / cover no-repeat;
  }

  30% {
    background: url("imagens/Firefly_23141.jpg")center / cover no-repeat;
    /* background-attachment: fixed; */
  }

  40% {
    background: url("imagens/Firefly_47659.jpg")center / cover no-repeat;
  }

  70% {
    background: url("imagens/Firefly_47659.jpg")center / cover no-repeat;
  }

  80% {
    background: url("imagens/Firefly_87084.jpg")center / cover no-repeat;
  }

  95% {
    background: url("imagens/Firefly_87084.jpg")center / cover no-repeat;
  }

  100% {
    background: url("imagens/Firefly_23141.jpg")center / cover no-repeat;
  }
}

.logo {
  font-family: var(--font-logo);
}
.titulo-1{
  font-family: var(--font-logo);
  font-size: 60px;
}
.titulo-2{
  font-family: var(--font-logo);
  font-size: 50px;
}
.titulo-3{
  font-family: var(--font-logo);
  font-size: 40px;
}
.titulo-4{
  font-family: var(--font-logo);
  font-size: 30px;
}
.logotipo {
  height: 33px;
  margin-right: 5px;
}
.logotipo-2 {
  height: 50px;
}
#fundos {
  animation: fundos 10s infinite;
  height: 55vh;
}

p{
  font-weight: normal !important;
}
p.marc{
  font-weight: bold !important;
}
p>strong{
  display: inline-block;
}
.primaria{
  font-size: 20px;
}
.secundaria{
  font-size: 15px;
}

.promo{
  position: relative;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  height: 35vh;
  max-width:768px;
  border: 1px solid black;
  border-radius: 10px;
  padding-right: 10px;
  overflow: hidden;
}
.promo img{
  height: 100%;
  object-fit: cover;
  float:left;
  margin-right: 10px;
}

.preco{
  position: absolute;
  background-color: rgb(206, 206, 52);
  padding: 10px;
  height: 20%;
  font-weight: bold;
  font-size: 2vh;
  border-radius: 0px 0px 0px 30px;
  top: 0;
  right: 0;
}

.max-formulario{
  max-width: 1024px;
}

.bg-fundo,
.btn-fundo {
  background-image: linear-gradient(to bottom, rgb(105, 105, 253), rgb(60, 60, 179));
}

.btn-fundo:hover {
  background-image: linear-gradient(to bottom, rgb(226, 226, 255), rgba(83, 83, 223, 0.74));
}

.fundo-azul-opaco {
  background-color: rgba(50, 50, 189, 0.589);
  max-width: 660px;
  padding: 30px;
  border-radius: 8px;
  color: white
}

/* Início do recurso fadeIn */
.image-container {
  overflow: hidden;
}

.image-fadein {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.image-container:hover .image-fadein {
  transform: scale(1.1);
}/* Fim do recurso FadeIn */

.card-alt,
.card-img-top-alt {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}/* correção das bordas dos cards */


/* Inicio da parallax */
.parallax {
  background-image: url("imagens/praia.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}/* Fim da parallax */


.revelar, .gp-revelar{
  visibility: hidden;
}

/* Botão gotop */
.gotop{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  cursor: pointer;
  z-index: 9999;
}
.toinvisivel{
  display: none;
}

/* Seção do team */
.team-container {
  position: relative;
  width: 60%;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgb(255, 255, 255);
  margin-bottom: 0px;
}
.team-container::before {
  content: '';
  display: block;
  padding-top: 100%; /* Define uma proporção de 1:1 */
}
.team-container:hover{
  border: 10px solid rgb(105, 105, 253);
}
/* Centralizando a imagem dentro do container */
.team-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 50%;
}
.team-desc{
  padding: 130px 10px 10px 10px;
  color: white;
  border-radius: 5px;
  margin-top: -85px;
  padding-bottom: 15px;
}
.team-name{
  color: black;
  font-weight: bold;
}
.team-title{
  font-size: 1.3em;
}
.team-text{
  padding: 15px;
}
.rodape{
  /* background-color: rgba(50, 50, 189, 0.589); */
  color:white;
}
.gp-footer{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.gp-footer>i{
  margin-right: 15px;
  margin-bottom: 5px;
}
.gp-footer>.marc{
  margin-bottom: 5px;
  font-weight: normal !important;
}
.gp-col-foot{
  padding: 5px 0px 20px 35px;
}
.foot-title{
  margin-bottom: 20px;
}
.marca-pessoal{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -12px;
  margin-right: -12px;
  text-align: center;
  padding: 15px 0px;
  background-image: linear-gradient(to bottom,rgba(61, 61, 61, 0.842),black);
}
.git-link{
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
}
.git-link:hover{
  text-shadow: 0px 0px 5px white;
}

/* Média para ajuste das fontes da área team-members */
@media(min-width:768px){
  .team-name{
    font-size: 2.6vw;
  }
  .team-title{
    font-size: 1.6vw;
  }
  .team-text{
    font-size: 1.5vw;
  }
}
@media(min-width:992px){
  .team-name{
    font-size: 30px;
  }
  .team-title{
    font-size: 1.3em;
  }
  .team-text{
    font-size: 20px;
  }
}
